<div class="pocket-inner">
  <div class="hd">
    <h2>我的资产</h2>
    <div class="filter-wrapper J_FilterWrapper">
      <div class="category-wrapper J_Trigger">
        <div class="current-wrapper">
          <p class="cureent">全部类别</p>
          <span class="triangle"></span>
        </div>
        <div class="category-filter J_CategoryFilter">
          <div class="item J_Item active">全部类别</div>
          <div class="item J_Item">交易盈亏</div>
          <div class="item J_Item">出金</div>
          <div class="item J_Item">入金</div>
          <div class="item J_Item">朋友赚</div>
          <div class="item J_Item">奖金</div>
          <div class="item J_Item">佣金</div>
          <div class="item J_Item">红包</div>
        </div>
      </div>
      <span class="date-picker J_DatePicker">
        <span id="dpSatat" data-date-format="yyyy-mm-dd" data-date=""></span>
        <span id="dpEnd" data-date-format="yyyy-mm-dd" data-date=""></span>
      </span>
    </div>
  </div>
  <div class="bd">
    <table>
      <thead>
        <tr>
          <td class="date">时间</td>
          <td class="count">金额（$）</td>
          <td class="category">类别</td>
        </tr>
      </thead>
      <tbody class="J_List">
        <tr>
          <td class="loading" colspan="3">加载中...</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination J_Pagination">
  </div>
  <div class="total-wrapper J_Total">
    <div class="range J_Range">
      <p class="J_Start"></p>
      <p class="J_End"></p>
      <p class="total">合计 ( $ )</p>
      <span class="triangle"></span>
      <span class="triangle down"></span>
    </div>
    <p class="J_Val val"><span class="J_Int"></span><span class="float J_Float"></span></p>
  </div>
</div>