<div class="actual-order-inner">
	<div class="hd">
        <h2>实时订单</h2>
        <div class="filter-wrapper J_FilterCalendar"> 
            <div class="category-wrapper J_Trigger">
                <div class="current-wrapper">
                    <p class="cureent">全部交易者</p>
                    <span class="triangle"></span>
                </div>
                <div class="category-filter J_CategoryFilter">
                    <div class="cat-item J_Item">我关注的</div>
                    <div class="cat-item J_Item active">全部交易者</div>
                </div>
            </div>

            <span class="more clearfix J_SymbolFilter"></span>
        </div>
        <div class="filter-constrol-wrapper J_SymbolFilterWrap" style="display: none;"></div>
    </div>
    <div class="bd">
    	<table>
            <tbody class="J_List" id="ActualOrder">
               
            </tbody>
        </table>
    </div>
</div>