<span class="triangle"></span>
<div class="constrol-bd">
    <div class="item filterState J_FilterState">
        <p class="title">交易品种</p>
        <p class="choose filterState-item J_Choose">全部选择</p>
        <p class="cancel filterState-item J_Cancel">全部清除</p>
    </div>
    <div class="state-wrapper-outer">
        <p class="state-wrapper">
            <input class="clearfix J_CheckSymbol" type="checkbox" value="EURUSD" name="" />
            <span>欧元美元</span>
        </p>
        <p class="state-wrapper">
            <input class="clearfix J_CheckSymbol" type="checkbox" value="XTIUSD" name="" />
            <span>纽约原油</span>
        </p>
        <p class="state-wrapper">
            <input class="clearfix J_CheckSymbol" type="checkbox" value="EURGBP" name="" />
            <span>欧元英镑</span>
        </p>
    </div>
    <div class="state-wrapper-outer">
        <p class="state-wrapper">
            <input class="clearfix J_CheckSymbol" type="checkbox" value="EURGBP" name="" />
            <span>英镑美元</span>
        </p>
        <p class="state-wrapper">
            <input class="clearfix J_CheckSymbol" type="checkbox" value="XBRUSD" name="" />
            <span>布伦特原油</span>
        </p>
        <p class="state-wrapper">
            <input class="clearfix J_CheckSymbol" type="checkbox" value="BTCUSD" name="" />
            <span>比特币</span>
        </p>
    </div>
    <div class="state-wrapper-outer">
        <p class="state-wrapper">
            <input class="clearfix J_CheckSymbol" type="checkbox" value="XAUUSD" name="" />
            <span>黄金美元</span>
        </p>
        <p class="state-wrapper">
            <input class="clearfix J_CheckSymbol" type="checkbox" value="USDJPY" name="" />
            <span>美元日元</span>
        </p>
        <p class="state-wrapper">
            <input class="clearfix J_CheckSymbol" type="checkbox" value="XAGUSD" name="" />
            <span>白银美元</span>
        </p>
    </div>
</div>
<div class="constrol-ft">
    <span class="btn J_FilterAction" data-filter='country'>筛选</span>
</div>