<div class="calendar-inner">
    <div class="hd">
        <h2>经济日历</h2>
        <div class="filter-wrapper J_FilterCalendar">
            <span class="item clearfix week J_Week">
                <span class="left J_WeekBefore"></span>
                <span class="cur-week-desc J_CurWeek">本周</span>
                <span class="right J_WeekAfter"></span>
            </span>
            <span class="item clearfix date J_FullDate" style="display: none;"></span>
            <span class="item clearfix ring" style="display: none;"></span>
            <span class="item clearfix more J_Filter"></span>
        </div>
        <div class="filter-constrol-wrapper J_FilterWrap" style="display: none;"></div>
        <div class="filter-constrol-wrapper J_FilterWrap" style="display: none;"></div>
        <div class="filter-constrol-wrapper J_FilterWrap" style="display: none;"></div>
        <div class="filter-constrol-wrapper J_FilterWrap J_FilterControls" style="display: none;"></div>
    </div>
    <table>
        <thead>
            <tr>
                <td class="date">时间</td>
                <td class="effect">影响</td>
                <td class="publish">公布值</td>
                <td class="forecast">预测值</td>
                <td class="slip">前值</td>
            </tr>
        </thead>
    </table>
    <div class="bd">
        <table>
            <tbody class="J_List">
               
            </tbody>
        </table>
        <div class="paddingEl"></div>
    </div>
</div>