<div class="trade-current-inner">
	<table>
		<tbody class="list J_List">
		<%data.forEach((item) => {%>
			<tr class="J_FollowerOrder" data-ticket="<%= item.ticket %>">
				<td class="item name-wrapper">
					<span class="tag <%= item.cmd.indexOf('buy') !== -1 ? 'up' : '' %>"></span>
					<div class="trade-current-center">
						<p class="name"><%= item.symbolName %></p>
						<p class="symbol"><%= item.symbol %></p>
					</div>
				</td>
				<td class="item detail pro-val">
					<div class="trade-current-top">
						<p class="desc">当前盈亏</p>
						<p class="num J_TradeCurrentProfit <%= parseFloat(item. profit) > 0 ? 'up' : '' %>">
							<%= parseFloat(item.profit).toFixed(2) %>
						</p>
					</div>
					<div class="trade-current-bottom">
						<p class="desc">交易量</p>
						<p class="num J_TardeCurrentVolume"><%= item.volume %></p>
					</div>
				</td>
				<td class="item detail">
					<div class="trade-current-top">
						<p class="desc">当前价格</p>
						<p class="num J_TardeCurrentPrice" data-symbol='<%=item.symbol.replace(/\./g, "-")%>' data-cmd='<%=item.cmd%>'>-- --</p>
					</div>
					<div class="trade-current-bottom">
						<p class="desc">止盈价格</p>
						<p class="num J_TardeCurrentTakeProfit"><%= item.takeProfit %></p>
					</div>
				</td>
				<td class="item detail">
					<div class="trade-current-top">
						<p class="desc">开仓价格</p>
						<p class="num J_TardeCurrentOpenPrice"><%= item.openPrice %></p>
					</div>
					<div class="trade-current-bottom">
						<p class="desc">止损价格</p>
						<p class="num J_TardeCurrentStopLoss"><%= item.stopLoss %></p>
					</div>
				</td>
			</tr>
			<%})%>
			<%if (data.length == 0) {%>
				<tr class="no-list"><td>没有当前订单</td></tr>
			<%}%>
		</tbody>
	</table>
</div>
