<div class="account-detail-inner">
  <div class="hd">
    <h2>我的资产</h2>
  </div>
  <div class="bd">
    <div class="item J_FloatProfit">
      <span class="name ">浮动盈亏：</span>
      <p class="count profit">
        <span class="num-int J_Int">--</span><span class="num-float J_Float"></span>
      </p>
    </div>
    <div class="item J_FreeMargin">
      <span class="name">可用保证金：</span>
      <p class="count">
        <span class="num-int J_Int">--</span><span class="num-float J_Float"></span>
      </p>
    </div>
    <div class="item J_Balance">
      <span class="name">账户余额：</span>
      <p class="count">
        <span class="num-int J_Int">--</span><span class="num-float J_Float"></span>
      </p>
    </div>
    <div class="item J_NetDeposit">
      <span class="name">账户净值：</span>
      <p class="count">
        <span class="num-int J_Int">--</span><span class="num-float J_Float"></span>
      </p>
    </div>
    <div class="item J_Rate">
      <span class="name">保证金比例：</span>
      <p class="count">
        <span class="num-int J_Int">--</span><span class="num-float J_Float"></span>%
      </p>
    </div>
    <div class="item J_ExtractCount">
      <span class="name">可出金额：</span>
      <p class="count">
        <span class="num-int J_Int">--</span><span class="num-float J_Float"></span>
      </p>
    </div>
  </div>
  <div class="ft">
    <a class="recharge J_Recharge" href="../pay/guide.html" target="_blank">存入资金</a>
    <button class="extract J_Extract">提取资金</button>
  </div>
</div>
<div class="pocket" id="J_Pocket"></div>
<div class="draw_down"></div>