<!-- <div class="account-wrapper">
  <div class="item account">
    <div class="img-wrapper-outer">
      <div class="img-wrapper">
        <img class="img" src="../../../../../../img/header-logo.png">
      </div>
    </div>
    <div class="desc">
      <p class="name">戈壁狼王</p>
      <p class="phone">13693544218</p>
    </div>
  </div>
  <div class="item float-profit J_FloatProfit <%= data.profit > 0 ? 'up' : '' %>">
    <span class="count J_Int">--</span><span class="dotted J_Float"></span>
    <p class="name">浮动盈亏：</p>
  </div>
  <div class="item J_CurTicket cur-ticket">
    <span class="count J_Int">--</span><span class="dotted J_Float"></span>
    <p class="name">当前订单：</p>
  </div>
  <div class="item J_FreeMargin free-margin">
    <span class="count J_Int">--</span><span class="dotted J_Float"></span>
    <p class="name">可用保证金：</p>
  </div>
  <div class="item J_Balance balance">
    <span class="count J_Int">--</span><span class="dotted J_Float"></span>
    <p class="name">余额：</p>
  </div>
  <div class="item J_NetDeposit net-deposit">
    <span class="count J_Int">--</span><span class="dotted J_Float"></span>
    <p class="name">净值：</p>
  </div>
  <div class="item J_Rate rate">
    <span class="count J_Int">--</span><span class="dotted J_Float"></span>
    <p class="name">保证金比例：</p>
  </div>
  <div class="item extract">
    <a href="" class="extract">提取资金</a>
  </div>
  <div class="item recharge">
    <a href="" class="recharge">存入资金</a>
  </div>
</div>
<div class="exit-wrapper">
  <span class="ext J_Exit">安全退出</span>
</div> -->