<div class="content-userInfo">

    <!--    <div class="content-inner">
            <div class="loader ball-clip-rotate" id="U_Loading_w">
            <div class="loader-inner"></div>
            <div class="desc">加载中...</div>
        </div>-->
    <div class="content-inner">


        <div class="add_pop_up_box">
            <span class="business">完善开户信息</span>
            <!-- <p class="add_reminder"><span>提示：&nbsp;由于您首次是用该卡提取资金，需要补齐以下信息，请按提示操作。</span></p> -->
            <div class="out">
                <div class="add_image">
                    <div class="image_id_card">
                        <div class="image_id_card_1 T_same"><i style="font-style: normal;">手机号码：</i><input
                                id='U_truephone' type="text" value="" disabled></div>
                        <div class="image_id_card_2 T_same"><i style="font-style: normal;">真实姓名：</i><input
                                class="U_CardName" type="text" value="" placeholder="真实姓名需要与您提交的身份证姓名一致"></div>
                        <div class="image_id_card_3 T_same"><i style="font-style: normal;">身份证号：</i><input
                                class="U_CardId" type="text" value="" placeholder="请输入身份证号"></div>
                        <div class="image_id_card_4 T_same">
                            <div class="detail">
                                <span class="icon"></span>
                                <p></p>
                            </div>
                            <div class="preview img-wrapper U_ImgWrapper U_CardFront"></div>
                            <input type="file" class="upload-input" accept="*/*">
                        </div>
                        <div class="image_id_card_5 T_same">
                            <div class="detail">
                                <span class="icon"></span>
                                <p></p>
                            </div>
                            <div class="preview img-wrapper U_ImgWrapper U_CardBack"></div>
                            <input type="file" class="upload-input">
                        </div>
                    </div>
                    <div class="image_bank_card">
                        <div class="image_bank_card_2 T_same bankContent_t"><i style="font-style: normal;">开户银行：</i>
                            <!-- <input class="U_BankName" type="text" value="" placeholder="请输入开户银行"> -->
                            <select id='U_mybanks'>
                                <option value="CCB">中国建设银行</option>
                                <option value="ABC">中国农业银行</option>
                                <option value="ICBC">中国工商银行</option>
                                <option value="BOC">中国银行</option>
                                <option value="CMBC">中国民生银行</option>
                                <option value="CMB">招商银行</option>
                                <option value="CIB">兴业银行</option>
                                <option value="HASECNSHBEJ">恒生银行</option>
                            </select>
                        </div>
                        <div class="image_bank_card_1 T_same"><i style="font-style: normal;">银行预留手机：</i><input
                                id='U_obligatephone' type="text" value="" placeholder="请输入手机号"></div>
                        <div class="image_bank_card_3 T_same"><i style="font-style: normal;">银行卡号：</i><input
                                class="U_BankId" type="text" value="" placeholder="需与身份证同名银行借记卡(暂不支持信用卡)"></div>
                        <div class="image_bank_card_4 T_same">
                            <div class="detail">
                                <span class="icon"></span>
                                <p></p>
                            </div>
                            <div class="preview img-wrapper U_ImgWrapper U_BankFront"></div>
                            <input type="file" class="upload-input">
                        </div>
                        <div class="image_bank_card_5 T_same">
                            <div class="detail">
                                <span class="icon"></span>
                                <p></p>
                            </div>
                            <div class="preview img-wrapper U_ImgWrapper U_BankBack"></div>
                            <input type="file" class="upload-input">
                        </div>
                    </div>
                </div>

                <div id="trueMsg" class="item clearfix riskMsg" style="display:none">

                </div>
                <div class="agreeTrueMsg">
                    <input id="agree" type="checkbox" checked="checked">
                    <span id="agreeMsg">我已阅读 <span class="desc-name"><i class="cmay-name">-- --</i>开户协议</span></span>
                </div>
                <div class="E_reminder"><p class="E_reminder_p1">温馨提示：</p>
                    <p class="E_reminder_p2">您提交的个人信息仅供平台开户使用, 不会泄露给任何第三方.</p>
                </div>
                <div class="J_Submit"><p>提交信息 开始交易</p></div>
                <div class="  J_Exit"><p></p></div>
            </div>
        </div>
    </div>
</div>
