<% data.list.forEach(function(item) { %>
  <% var up = item.cmd.indexOf('buy') !== -1 ? true : false %>
  <tr class="J_Hover J_OrderItem" data-symbol="<%= item.symbol %>" data-order="<%= item.ticket %>">
    <td class="id">
      <%= item.ticket %>
    </td>
    <td class="symbol">
      <p>
        <%= item.symbolName %>
      </p>
      <p>
        <%= item.symbol %>
      </p>
    </td>
    <td class="type">
      <% if (up) { %>
        <span class="tag up"></span>
        <p>买涨</p>
        <p>BUY</p>
        <% } else { %>
          <span class="tag"></span>
          <p>买跌</p>
          <p>SELL</p>
          <% } %>
    </td>
    <td class="volume">
      <%= item.volume %>
    </td>
    <td class="total-profit <%= parseFloat(item.profit) + parseFloat(item.swap)  - parseFloat(item.commission) >0  ? '' : 'loss' %>">
      <%= (parseFloat(item.profit) + parseFloat(item.swap)  - parseFloat(item.commission)).toFixed(2) %>
    </td>
    <td class="float-profit <%= item.profit > 0 ? '' : 'loss' %> J_Formate" data-order=<%=item.ticket %>>
      <%= item.profit %>
    </td>
    <td class="end-type">
      <%= item.closeTypeName %>
    </td>
    <td class="open-price">
      <p>
        <%= item.openPrice %>
      </p>
    </td>
    <td class="end-price">
      <%= item.closePrice %>
    </td>
    <td class="take-profit">
      <p>
        <%= parseFloat(item.takeProfit) == 0 ? '<p class="no">未设置</p>' : item.takeProfit %>
      </p>
    </td>
    <td class="stop-loss">
      <p>
        <%= parseFloat(item.stopLoss) == 0 ? '<p class="no">未设置</p>' : item.takeProfit %>
      </p>
    </td>
    <td class="swap">
      <%= item.swap %>
    </td>
    <td class="commission">
      <%= item.commission %>
    </td>
    <td class="date">
      <p>
        <%= item.openTime&&item.openTime %>
      </p>

    </td>
    <td class="date">
      <p>
        <%= item.closeTime&&item.closeTime %>

      </p>
    </td>
  </tr>
<% }); %>

<% if (data.list.length === 0) {%>
<tr>
  <td class="empty" colspan="15">目前您没有交易记录</td>
</tr>
<% } %>