<span class="triangle"></span>
<div class="constrol-hd clearfix">
    <span>重要性</span>
    <div class="check-wrapper">
        <div class="item">
            <span class="sign"></span>
            <span class="desc">非常重要</span>
            <input class="input clearfix J_Weight" type="checkbox" name="" value="3" />
        </div>
        <div class="item">
            <span class="sign"></span>
            <span class="desc">重要</span>
            <input class="input clearfix J_Weight" type="checkbox" name="" value="2" />
        </div>
        <div class="item">
            <span class="sign"></span>
            <span class="desc">一般</span>
            <input class="input clearfix J_Weight" type="checkbox" name="" value="1" />
        </div>
    </div>
</div>
<div class="constrol-bd">
    <div class="item filterState J_FilterState">
        <p class="title">国家 / 地区</p>
        <p class="choose filterState-item J_Choose">全部选择</p>
        <p class="cancel filterState-item J_Cancel">全部清除</p>
    </div>
    <div class="state-wrapper-outer">
        <p class="state-wrapper">
            <input class="clearfix J_Check" type="checkbox" value="美国" name="" />
            <span>美国</span>
        </p>
        <p class="state-wrapper">
            <input class="clearfix J_Check" type="checkbox" value="日本" name="" />
            <span>日本</span>
        </p>
        <p class="state-wrapper">
            <input class="clearfix J_Check" type="checkbox" value="意大利" name="" />
            <span>意大利</span>
        </p>
        <p class="state-wrapper">
            <input class="clearfix J_Check" type="checkbox" value="瑞士" name="" />
            <span>瑞士</span>
        </p>
    </div>
    <div class="state-wrapper-outer">
        <p class="state-wrapper">
            <input class="clearfix J_Check" type="checkbox" value="欧元区" name="" />
            <span>欧元区</span>
        </p>
        <p class="state-wrapper">
            <input class="clearfix J_Check" type="checkbox" value="德国" name="" />
            <span>德国</span>
        </p>
        <p class="state-wrapper">
            <input class="clearfix J_Check" type="checkbox" value="澳大利亚" name="" />
            <span>澳大利亚</span>
        </p>
        <p class="state-wrapper">
            <input class="clearfix J_Check" type="checkbox" value="新加坡" name="" />
            <span>新加坡</span>
        </p>
    </div>
    <div class="state-wrapper-outer">
        <p class="state-wrapper">
            <input class="clearfix J_Check" type="checkbox" value="英国" name="" />
            <span>英国</span>
        </p>
        <p class="state-wrapper">
            <input class="clearfix J_Check" type="checkbox" value="法国" name="" />
            <span>法国</span>
        </p>
        <p class="state-wrapper">
            <input class="clearfix J_Check" type="checkbox" value="加拿大" name="" />
            <span>加拿大</span>
        </p>
        <p class="state-wrapper">
            <input class="clearfix J_Check" type="checkbox" value="中国" name="" />
            <span>中国</span>
        </p>
    </div>
</div>
<div class="constrol-ft">
    <span class="btn J_FilterAction" data-filter='country'>筛选</span>
</div>