<% data.list.forEach((item, index) => {%>
	<tr class="my-follow J_MyFollow" data-id='<%= item.expert_id %>'>
		<td class="follow-list">
			<div class="img-wrapper-outer">
				<div class="img-wrapper">
					<img class="img" src="<%= item.img %>">
				</div>
			</div>
			<span class="name"><%= item.name %></span>
		</td>
		<td class="follow-trade">
			<p class="num"><%= item.follow_tickets_count %></p>
			<p class="desc">跟单交易</p>
		</td>
		<td class="follow-profit <%= parseFloat(item.follow_tickets_profit_sum) > 0 ? 'up' : '' %>">
			<p class="num"><%= parseFloat(item.follow_tickets_profit_sum).toFixed(2) %></p>
			<p class="desc">跟单盈亏</p>
		</td>
		<td class="follow-time">
			<p class="num"><%= item.follow_days %>天</p>
			<p class="desc">跟单时间</p>
		</td>
	</tr>

<%})%>

<% if(data.list.length === 0) {%>
	<tr class="no-list"><td>当前没有订单</td></tr>
<%}%>