<div class="trade-list-inner">
	<div class="hd">
        <h2>交易榜单</h2>
        <div class="filter-wrapper J_FilterTradeList"> 
            <div class="category-wrapper J_Trigger">
                <div class="current-wrapper">
                    <p class="cureent">近7日收益</p>
                    <span class="triangle"></span>
                </div>
                <div class="category-filter J_CategoryFilter">
                    <div class="cat-item J_Item active">近7日收益</div>
                    <div class="cat-item J_Item">近30日收益</div>
                    <div class="cat-item J_Item">近30日亏损</div>
                </div>
            </div>
        </div>
    </div>
    <div class="bd">
    	<table>
            <tbody class="J_List" id="TradeListConntent">
               <tr><td class="loading">加载中...</td></tr>
            </tbody>
        </table>
    </div>
</div>